### Merge MBC2 basline + intervention/follow-up data
#### This notebook merge 3 pairs of MBC2 cleaned baseline and intervention/follow-up tables together

In [1]:
import pandas as pd
import datetime

In [2]:
#import cleaned tables 
df_all_baseline = pd.read_csv('MBC2_Baseline/Result/Final/MBC2_all.csv') 
df_all_followup = pd.read_csv('MBC2_Copy/Result/Final/MBC2_all.csv')

In [3]:
#merge 3 pairs
df_all = df_all_baseline.append(df_all_followup, ignore_index=True)

In [4]:
df_filtered = df_all[df_all['goal'] <= 11]
df_filtered = df_filtered.drop_duplicates()
df_filtered.shape

(58082, 32)

In [5]:
df_filtered.to_csv('Final Data/MBC2_all.csv', index=False)

In [6]:
df_filtered.head(5)

,study_id,upload_time,goal,cond,age,sex,relstatus,edlevel,income,employ,...,calories,saturated_fatty_acids,fv_credit,sed_min_outlier,pa_min_outlier,pa_min_outlier_16k,pa_min_outlier_20k,calories_outlier,fat_outlier,fv_outlier
0,1436.0,2012-07-18,0,2,58,1,1,9,1,2,...,691.099476,9.564586,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1436.0,2012-07-30,0,2,58,1,1,9,1,2,...,1431.880000,16.500000,0.0,0.0,999999.0,999999.0,999999.0,0.0,0.0,0.0
2,1436.0,2012-07-31,0,2,58,1,1,9,1,2,...,1730.000000,36.000000,0.0,0.0,999999.0,999999.0,999999.0,0.0,0.0,0.0
3,1436.0,2012-08-01,0,2,58,1,1,9,1,2,...,1765.961538,34.535256,0.0,0.0,999999.0,999999.0,999999.0,0.0,0.0,0.0
4,1436.0,2012-08-02,0,2,58,1,1,9,1,2,...,1191.971416,12.140760,3.3,0.0,999999.0,999999.0,999999.0,0.0,0.0,0.0

## Add tag varible - baseline (raw data_baseline)

In [48]:
df_all = pd.read_csv('Final Data/MBC2_all.csv')
df_check = pd.read_csv('rawudata_baseline_elig_2021-03-04.csv')
df_check['Baseline_tag'] = [1]*df_check.shape[0]

df_check = df_check[['Study ID ', 'Date ', 'Baseline_tag']]
df_check.columns = ['study_id', 'upload_time', 'baseline_tag']
df_check['upload_time'] = pd.to_datetime(df_check.upload_time)
df_all['upload_time'] = pd.to_datetime(df_all.upload_time)

In [49]:
df_result = pd.merge(df_all, df_check, how="left", on=["study_id", "upload_time"])
df_result['baseline_tag'] = df_result['baseline_tag'].fillna(0)

In [51]:
df_result.to_csv('Final Data/MBC2_all.csv', index=False)