### Weekly Timeline Alignment for 4 OutcomeTables 
#### This notebook adds addtional feature (number of week from starting date) to cleaned version of outcome tables

In [1]:
import pandas as pd
import numpy as np
import pandasql as ps
import time 
import datetime 
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [94]:
#import cleaned tables 
df_food = pd.read_csv('df_food_outliers.csv') 
df_pa_16k = pd.read_csv('pa_combined_16k.csv') 
df_pa_20k = pd.read_csv('pa_combined_20k.csv') 
df_sed =  pd.read_csv('sed_clean.csv') 
df_user = pd.read_csv('users.csv')

### Starting Time Alignment (self-reported PA)

In [3]:
#all participants
id_list = []
for i in range(df_user.shape[0]):
    #extract users' name starting with 'mbc2'
    if (df_user['username'][i][0:4] == 'mbc2'):
        id_list.append(df_user['user_id'][i])
id_list.sort()
print('There are', len(id_list), 'participants in intervention/follow-up period')

There are 212 participants in intervention/follow-up period

In [4]:
df_user= df_user[df_user['user_id'].isin(id_list)]

In [86]:
def timeAlign(outcome, df_target, df_user):
    #merge start_date to exsiting tables
    #df_user
    df_user_temp = df_user[['study_id', 'start_date']]

    #merge both
    result = pd.merge(df_user_temp, df_target, how='left', on=['study_id'])
    result = result.dropna()

    #### convert date to datetime type
    result['time1'] = result['upload_time'].apply(lambda x: datetime.datetime.strptime(x, '%m/%d/%Y'))
    result['time2'] = result['start_date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

    #get the time difference (in days)
    result['time_diff'] = result['time1'] - result['time2']
    result['time_diff'] = result['time_diff'].apply(lambda x: x.days)
    #print('There', sum(result['time_diff'] < 0), 'rows of data that are before starting date')

    #calculate the correponding weeks (around up)
    result['upload_week'] = result['time_diff'].apply(lambda x: math.ceil(x/7))

    total = result.shape[0]
    time_before = sum(result['time_diff'] < 0)
    time_93days = sum(result['time_diff'] > (9 * 31))
    time_39week = sum(result['upload_week'] > 39)
    time_40week = sum(result['upload_week'] > 40)
    time_41week = sum(result['upload_week'] > 41)
    time_42week = sum(result['upload_week'] > 42)
    time_43week = sum(result['upload_week'] > 43)
    time_44week = sum(result['upload_week'] > 44)

    return([outcome, total, time_before, time_93days, time_39week, time_40week, time_41week, time_42week, time_43week, time_44week])

In [87]:
def timeAlignPA(outcome, df_target, df_user):
    #merge start_date to exsiting tables
    #df_user
    df_user_temp = df_user[['study_id', 'start_date']]

    #merge both
    result = pd.merge(df_user_temp, df_target, how='left', on=['study_id'])
    result = result.dropna()

    #### convert date to datetime type
    result['time1'] = result['upload_time'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
    result['time2'] = result['start_date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

    #get the time difference (in days)
    result['time_diff'] = result['time1'] - result['time2']
    result['time_diff'] = result['time_diff'].apply(lambda x: x.days)
    #print('There', sum(result['time_diff'] < 0), 'rows of data that are before starting date')

    #calculate the correponding weeks (around up)
    result['upload_week'] = result['time_diff'].apply(lambda x: math.ceil(x/7))

    total = result.shape[0]
    time_before = sum(result['time_diff'] < 0)
    time_93days = sum(result['time_diff'] > (9 * 31))
    time_39week = sum(result['upload_week'] > 39)
    time_40week = sum(result['upload_week'] > 40)
    time_41week = sum(result['upload_week'] > 41)
    time_42week = sum(result['upload_week'] > 42)
    time_43week = sum(result['upload_week'] > 43)
    time_44week = sum(result['upload_week'] > 44)

    return([outcome, total, time_before, time_93days, time_39week, time_40week, time_41week, time_42week, time_43week, time_44week])

In [100]:
def timeAlignSed(outcome, df_target, df_user):
    #merge start_date to exsiting tables
    #df_user
    df_user_temp = df_user[['study_id', 'start_date']]

    #merge both
    result = pd.merge(df_user_temp, df_target, how='left', on=['study_id'])
    result = result.dropna()

    #### convert date to datetime type
    result['time1'] = result['upload_time'].apply(lambda x: datetime.datetime.strptime(x, '%m/%d/%y'))
    result['time2'] = result['start_date'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

    #get the time difference (in days)
    result['time_diff'] = result['time1'] - result['time2']
    result['time_diff'] = result['time_diff'].apply(lambda x: x.days)
    #print('There', sum(result['time_diff'] < 0), 'rows of data that are before starting date')

    #calculate the correponding weeks (around up)
    result['upload_week'] = result['time_diff'].apply(lambda x: math.ceil(x/7))

    total = result.shape[0]
    time_before = sum(result['time_diff'] < 0)
    time_93days = sum(result['time_diff'] > (9 * 31))
    time_39week = sum(result['upload_week'] > 39)
    time_40week = sum(result['upload_week'] > 40)
    time_41week = sum(result['upload_week'] > 41)
    time_42week = sum(result['upload_week'] > 42)
    time_43week = sum(result['upload_week'] > 43)
    time_44week = sum(result['upload_week'] > 44)

    return([outcome, total, time_before, time_93days, time_39week, time_40week, time_41week, time_42week, time_43week, time_44week])

In [104]:
allList = [timeAlign('Food', df_food, df_user),timeAlignPA('PA 16K Cutoff', df_pa_16k, df_user),timeAlignPA('PA 20K Cutoff', df_pa_20k, df_user), timeAlignSed('Sedentary', df_sed, df_user)]
pd.DataFrame(allList, columns=['Outcome', 'Total Rows', 'Before Starting', '>9*31days', '>39weeks', '>40weeks', '>41weeks', '>42weeks','>43weeks','>44weeks'])

,Outcome,Total Rows,Before Starting,>9*31days,>39weeks,>40weeks,>41weeks,>42weeks,>43weeks,>44weeks
0,Food,29788,0,723,1019,684,461,329,237,207
1,PA 16K Cutoff,25160,0,641,926,599,393,279,194,165
2,PA 20K Cutoff,25161,0,641,926,599,393,279,194,165
3,Sedentary,26441,0,576,803,544,391,280,203,177